@import url("https://fonts.googleapis.com/css?family=Miriam+Libre");

/* @media only screen and (min-width: 414px) and (max-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  .app {
    min-width: 414px;
    max-width: 736px;
  }
} */

@media screen and (min-width: 800px) {
  .box-container {
    display: flex;
    flex: 3;
    position: center;
    justify-content: space-around;
    /* padding: 50px 50px 50px 50px; */
    /* background-color: #e96151; */
    background-color: white;
  }
  .center {
    align-self: center;
    background-color: #366774;
    max-height: 100px;
    max-width: 600px;
    bottom: 50px;
  }
  .explanation {
    display: none;
  }
}

.app {
  height: auto;
  margin: 0px auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  position: center;
  max-width: 1280px;
  background-color: #e96151;
  /* margin: 20px 20px 20px 20px; */
}

h1 {
  position: center;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Miriam Libre", sans-serif;
  color: #e96151;
  margin-top: 10px;
}

.box-title {
  position: relative;
  left: 130px;
  bottom: 320px;
  height: 100px;
  width: 250px;
  background-color: #366774;
  opacity: 0.8;
}

.box-title-light {
  position: relative;
  left: 130px;
  bottom: 320px;
  height: 100px;
  width: 250px;
  background-color: #ecece7;
  opacity: 0.8;
}

h2 {
  padding-top: 20px;
  text-align: center;
  font-family: "Miriam Libre", sans-serif;
  color: #366774;
}

.box-title-text {
  color: #e96151;
  text-decoration: none;
}

.canvas1 {
  flex: 1;
  align-self: center;
  display: block;
  background-color: #e96151;
  height: 500px;
  max-width: 500px;
  padding: 60px 60px 60px 70px;
}

.p5 {
  position: center;
  left: 300px;
}

.explanation {
  writing-mode: vertical-lr;
  text-orientation: upright;
}

.explanation-box {
  position: relative;
  bottom: 70px;
}

.explanation1 {
  text-orientation: sideways;
}

.section {
  /* position: absolute; */
  /* top: 0;
  left: 0; */
  flex: 1;
  background: #ffffff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

p {
  height: 100%;
  background: #000000;
  color: #ffffff;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.pointer {
  position: absolute;
  /* top: 50%;
  left: 50%; */
  transform: translate(-160%, -25%);
  width: 300px;
  height: 300px;
  background: #ffffff;
  border-radius: 50%;
  pointer-events: none;
  mix-blend-mode: difference;
}

.buttonLeft {
  mix-blend-mode: difference;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.top-right {
  mix-blend-mode: difference;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  float: right;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
